//creat a function which makes boxes appear on screen and a loop that can run through 
//the function as many times as required. Then I can let user input determine the number of boxes to appear quite
//easily. After that, I can make the boxes appear as images.


<input type="text" id="typeOf">


html
 <input type="text" id="input">
        <button id="button">Submit</button>
       

       

const firstHeading = document.getElementById('firstHeading');
firstHeading.addEventListener("click", () => {
    firstHaeading.style.color = "yellow";
    firstHeading.classList.add('changeColor');
})

const input = document.getElementById("input");
const button = document.getElementById("button");

button.addEventListener("click", () => {
    button.style.color = "red"; 
    //firstHeading.style.color = input.Value;


    
})// why is this not working now?

//wrapper.appendChild('div')


//button.onclick = () => {
   // button.id.toggle('hide');
//}

//div.appendChild(button);

//div.appendChild(text); - create textNode?

//console.log(div);


//const input = document.getElementById("input");
//const paragraphs = document.getElementsByTagName("p");
//const smallerHeading = document.getElementsByTagName("h2");
//const list = document.querySelector("li");


//myFirstHeading.addEventListener("click", () => {
  //  myFirstHeading.style.color = "purple";
//})


//button.addEventListener("click", () => {
  //  button.style.color = "red"; 
  //  heading.style.color = input.Value;

//})

//for(let i = 0; i < paragraphs.length; i++){
   // paragraphs[i].style.color = "red";
//}


//for(let i =0; i < smallerHeading.length; i++){
  //  smallerHeading[i].style.color = "pink";
//}


//for(let i = 0; i < list.length; i++){
  //  list[i].style.color = "red";
//}




