body{
    background-color: teal;
    margin: 1em;
    text-align: center;
    justify-content: center;

    
    

}

#wrapper{
    height: 100%;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: row;
}

#box{
    height: calc 100vh / 3.5;
    width: calc 100vh / 3.5;
    background-color: coral;
    border-radius: 20px;
    flex-direction: column;
    
        
}
